# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Ignore all object files
*.o
*.a
*.so
*.so.1
!DISCLAIMER
!Makefile
!README

# generate files
advio/rot13c2.c
ipc2/opend/opend.poll
ipc2/opend/opend.select
standards/conf.c
standards/options.c
standards/pathconf.sym
standards/pathopt.sym
standards/sysconf.sym
standards/sysopt.sym
